{{!
@param IRI in-features-graph
@param IRI source-graph
@param int limit
@param int offset
}}

SELECT ?resource ?property (COUNT(DISTINCT ?o) AS ?frequency)
WHERE {
  {
    SELECT ?resource ?property
    WHERE {
      {
        SELECT DISTINCT ?resource ?property
        WHERE {
          GRAPH <{{in-features-graph}}> {
            ?resource ?property [] .
          }
        }
        ORDER BY ?resource ?property
      }
    }
    LIMIT {{limit}}
    OFFSET {{offset}}
  }
  GRAPH <{{source-graph}}> {
    ?resource ?property ?o .
    FILTER (isIRI(?o))
  }
}
GROUP BY ?resource ?property
