{{!
@param IRI        source-graph
@param IRI        property
@param Array<IRI> classes
}}

ASK
WHERE {
  GRAPH <{{source-graph}}> {
    VALUES ?class {
      {{#classes}}
      <{{.}}>
      {{/classes}}
    }
    [] a ?class ;
      <{{property}}> ?o . 
    FILTER (isIRI(?o))
  }
}
